* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gray {
    color: #918E9B;
}

/* NAVBAR CSS */
nav {
    display: flex;
    height: 70px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    padding: 20px;
}

.nav--logo {
    max-width: 100px;
}

/* END NAVBAR CSS */

/* HEADER CSS */

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
}



.hero--h1 {
    font-size: 2.1rem;
    padding-top: 10px;
    margin-bottom: 5px;
}

.hero--p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 5px;
  
} 

/* END HEADER CSS */

/* CARD CSS */

.card--one {
    width:195px;
    font-size: 14px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;

   
}

.card--info {
    display: flex;
    align-items: center;
}

.img--katie {
    width: 100%;
    border-radius: 9px;
}

.img--star {
    width: 20px;
    height: 14px;
}

.title {
    display:flex;

    
}


.span--p {
    font-weight: bold;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}



